attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
datadog==0.44.0
ddtrace==1.0.2
dnspython==2.2.1
Flask==2.1.2
Flask-Cors==3.0.10
Flask-Datadog==0.1.4
Flask-StatsD==0.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
protobuf==3.20.1
pymongo==4.1.1
pyparsing==3.0.8
requests==2.27.1
six==1.16.0
statsd==3.3.0
tenacity==8.0.1
urllib3==1.26.9
Werkzeug==2.1.2
zipp==3.8.0
